<div class="show-sm">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <a href="/">{{ .Site.Title }}</a>
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm" id="top">
    <div id="top-brand">
      <a href="/" title="home"><img height="{{ .Site.Params.logoHeight }}" src="{{ .Site.Params.logo }}"/></a>
    </div>

    {{ $currentPage := . }}
    <nav id="nav">
      <ul id="menu">
          {{ range .Site.Menus.main }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" id="{{ if .HasChildren }}dropdown{{ end }}">
              <span>{{ if .URL }}<a href="{{ .URL }}">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }}</span>
              {{ if .HasChildren }}
                {{ .Post }}
              <ul id="sub-menu">
                  {{ range .Children }}
                  <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                      <span><a href="{{ .URL }}">{{ .Name }}</a></span>
                  </li>
                  {{ end }}
              </ul>
             {{ end }}
          </li>
          {{ end }}
      </ul>

      <ul id="menu-extra">
        {{ range .Site.Menus.extra }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" id="{{ if .HasChildren }}dropdown{{ end }}">
            <span>
              {{ if (and .URL .Pre) }}
                <a href="{{ .URL }}">{{ .Pre }}</a>
              {{ else if .URL}}
                <a href="{{ .URL }}">{{ .Name }}</a>
              {{ else }}
                {{ .Name }}
              {{ end }}
            </span>
            {{ if .HasChildren }}
              {{ .Post }}
            <ul id="sub-menu">
                {{ range .Children }}
                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <span><a href="{{ .URL }}">{{ .Name }}</a></span>
                </li>
                {{ end }}
            </ul>
           {{ end }}
        </li>
        {{ end }}
      </ul>
  </nav>


  </div>
