{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Site.Params.Description}}</p>
  </div>

  <div id="main-container">
    <h2><a href="/projects/">Projects</a></h2>
    <div id="list-box">
      {{ range first 4 (where .Site.RegularPages "Section" "projects") }}
      <div id="list-block">
        <h3>{{ .Title }}</h3>
        <p>{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}">Read More --></a>
      </div>
      {{ end }}
    </div>
  </div>

  <div id="contribute-btn">
    <a href="/contribute.html/">
      Contribute
    </a>
  </div>

  <div id="main-container">
    <h2><a href="/post/">Blog</a></h2>
    <div id="list-box">
      {{ range first 4 (where .Site.RegularPages "Section" "post") }}
      <div id="list-block">
        <h3>{{ .Title }}</h3>
        <p>{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}">Read More --></a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
